*{
    margin: 0;
    padding: 0;
    /* outline: solid 1px #ff0037; */
    font-family: 'Courier New', Courier, monospace;
}
.container{
    /* width: 800px; 
    height: 600px; */
    margin: 0 auto; 
    padding: 20px;
}
.negro, .morado, .celeste{
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
}
.negro{
    background-color: rgb(0, 0, 0);
    height: 50px;
}
h1{
    color: rgb(253, 252, 252);
    font-size: 50px;
}
span{
    color: rgb(0, 255, 255);
}
.morado{
    background-color: rgb(102,51,153);
    height: 20px;
}
h2{
    color: rgb(253, 252, 252);
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
.celeste{
    background-color: rgb(159,197,248);
    height: 15px;
}
h3{
    font-size: 20px;
    text-decoration: underline;
    text-align: end;
    margin-top: 10px;
}