*{
    padding:0;
    margin:0;
    /* outline: solid 1px #c92c4e; */
    font-family: Arial;
}
body{
    background-color: #fdf6ec;
}
.encabezado{
    width: 100%;
    height: 150px;
    background-color: #34495e;
    margin-bottom: 40px;
}
.container{
    display: flex;
    justify-content: center;
}
.main{
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
}
.secprincipal{
    background-color: #e67e22;
    width: 100%;
    padding: 40px 0px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.bloques{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.blo{
    flex: 1;
    width: 50%;
    height: 150px;
    background-color: #d35400;
    border-radius: 10px;
}
.tex, .text{
    color: white;
    text-align: center;
    padding: 10px;
}