*{
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(201, 172, 172);
}
.container{
    width: 100%;
    height: 200px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container button{
    background-color: pink;
    color: purple;
    border-color: purple;
    border-radius: 10%; 
}